<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
</head>
<style>
    img {
        width: 170px;
        height: 190px
        ;
    }
    .wide {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 350px;
        background-color: white;
        border-radius: 12px;
    }
    body {
        background-color: black;
    }
    .div1 {
        margin-top: 14px;
        margin-bottom: 14px;
        font-weight: bold;
    }
</style>
<body>
    <div class="main">
    <div class="wide">
        <img src='<%= image.path %>' id="image">
        <div class="div1"><%= userInfo.name %>님 환영합니다!</div>
        <div>비밀번호: <%= userInfo.pw %></div>
        <div>아이디: <%= userInfo.id %></div>
        <div>나이: <%= userInfo.old %></div>
    </div>
</div>
</body>
</html>